<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #productCreate="ngForm" enctype="multipart/form-data" (ngSubmit)="productSubmitHandler(productCreate)" class="p-4 shadow rounded bg-light">
        <h2 class="mb-4 text-center">Create Product</h2>
        
        <div class="mb-3">
          <label for="productName" class="form-label">Product Name</label>
          <input type="text" class="form-control" name="product_name" ngModel id="productName" aria-describedby="emailHelp" required />
        </div>

        <div class="mb-3">
          <label for="productDescription" class="form-label">Product Description</label>
          <input type="text" class="form-control" name="product_description" ngModel id="productDescription" aria-describedby="emailHelp" required />
        </div>

        <div class="mb-3">
          <label for="fileInput" class="form-label">Product Image</label>
          <input type="file" id="fileInput" class="form-control" (change)="handleFileInput($event)" />
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
        <div class="text-center mt-3">
          <button type="button" (click)="jumpToRoute('/')"
            class="btn btn-secondary">Dashboard</button>
        </div>
      </form>
    </div>
  </div>
</div>
